/* .title h2{color: #dc3d00; }
.title h5{color: #666;}
.nav-tabs li:hover h3{color: #dc3d00; border-bottom: #dc3d00 solid 2px;}
.nav-tabs li a.active h3{text-decoration: none; color: #dc3d00; border-bottom: #dc3d00 solid 2px; }
.nav-tabs li h3{ color: #666}
.card .foodDetail h3{color: #dc3d00;}
.messageModal button{background: #dc3d00;}
.item_detail h3{color: #dc3d00;} */


.categories_tab li h3{ color: #666}